aiofiles==0.5.0
altgraph==0.17
aniso8601==7.0.0
async-exit-stack==1.0.1
async-generator==1.10
autopep8==1.5.4
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
-e git+https://github.com/aditsachde/py-discord-sdk.git@7ff61338eb0d44e8196fad7cc2abc9ca444e401d#egg=discordsdk
dnspython==2.0.0
email-validator==1.1.2
fastapi==0.62.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.9.0
httptools==0.1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
macholib==1.14
MarkupSafe==1.1.1
orjson==3.4.6
promise==2.3
pycodestyle==2.6.0
-e git+https://github.com/samuelcolvin/pydantic.git@00a128a3609dac82dfe0cdb4200bbf2011aa5f83#egg=pydantic
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
python-multipart==0.0.5
PyYAML==5.3.1
pyzmq==20.0.0
requests==2.25.0
Rx==1.6.1
six==1.15.0
starlette==0.13.6
toml==0.10.2
ujson==3.2.0
urllib3==1.26.2
uvicorn==0.11.8
websockets==8.1
zmq==0.0.0
